{% extends 'retail_network/base.html'%}

{% block content %}

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <h5>Контакты:</h5>
                        <li> {{ object.contacts}}</li>
                        <h5>Продукты:</h5>
                        <li>{{ object.products.all | join:"&#10;" }}</li>
                        {% if object.supplier %}
                            <h5>Поставщик:</h5>
                            <a href="{% url 'retail-network:retail-network' object.supplier.pk %}">{{ object.supplier.title }}</a>
                            <h5>Задолженность:</h5>
                            <li>{{ object.debt }} руб</li>
                            <a href="{% url 'retail-network:clear-debt' object.pk %}" type="button" class="btn btn-lt btn-block btn-outline-danger">Очистить</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}